<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= user.name %></p>
    <% if(user.cards.length !== 2){ %>
      Please refresh when the game starts
    <% }else{ %>
      <div class="cards two-cards">
        <% user.cards.forEach(function(card){ %>
          <% include partials/card %>
        <% }) %>
      </div>
    <% } %>
  </body>
</html>
