<!DOCTYPE html>
<html>
  <head>
    <title>Community Cards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% switch(publicGame.state){case '': %>
    <% case 'initial': %>
    <div class="buttons">
      <a href="?state=preflop">Start Game</a>
    </div>
    <div class="cards">
    </div>
    <% break; %>
    <% case 'preflop': %>
    <div class="buttons">
      <a href="?state=preflop">Restart</a>
      <a href="?state=flop">See flop</a>
    </div>
    <% break; %>
    <% case 'flop': %>
    <div class="buttons">
      <a href="?state=preflop">Restart</a>
      <a href="?state=turn">Turn</a>
    </div>
    <% break; %>
    <% case 'turn': %>
    <div class="buttons">
      <a href="?state=preflop">Restart</a>
      <a href="?state=river">River</a>
    </div>
    <% break; %>
    <% case 'river': %>
    <div class="buttons">
      <a href="?state=preflop">Restart</a>
    </div>
    <% break; %>
    <% } %>
    <div class="cards">
      <% publicGame.cards.forEach(function(card){ %>
        <% include partials/card %>
      <% }) %>
    </div>
    <!-- <%= debug %> -->
  </body>
</html>
