<!DOCTYPE html>
<html>
  <head>
    <title>My Hand - InHouse Poker</title>
  </head>
  <body>
    <%- include("connection_partial.ejs") %>
    <div class="cards two-cards">
      <img class="card" src="/"></img>
      <img class="card" src="/"></img>
    </div>
  </body>
</html>
