<!DOCTYPE html>
<html>
  <head>
    <title>Inhouse Poker</title>
    <link rel="stylesheet" href="./test.scss">
  </head>
  <body>
    <a href="hand.html">See my Hand</a>
    <a href="community.html">See Community Cards</a>
  </body>
</html>
